@import "../../shared/style-atoms";
:host {
  color: $title-text;
  padding: 9px 14px;
  display: inline-block;
  tag-icon-set {
    width: 24px;
    height: 24px;
    fill: $title-text;
    vertical-align: bottom;
  }
  .item__label {
    transition: display 0 ease 150ms;
  }
}

@include condense {
  .item__label {
    display: none;
  }
}

@include comfortable {
  .item__label {
    display: inline;
  }
}
