:host {
  tag-text[type="feature"] {
    margin: 0 40px 0 14px;
    display: block;
  }
  span {
    padding: 3px 6px 8px 14px;
    display: inline-block;
    line-height: 23px;
    color: #68b6bb;
  }
}
